body {
  font-family: 'Abril Fatface', cursive;
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  background-image: url("https://i.imgur.com/a7Fq1Nn.jpg");
  background-size: cover;
}

#logo {
  font-size: 100px;
  margin: 0 auto;
  
}

.heading {
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
}

.heading-two {
  font-size: 80px;
  color:black;
  margin-bottom: 10px;
  margin-top: -50px;
}

.heading-three {
  font-size: 80px;
  margin-bottom: 10px;
}

.tasks-font {
  color:black;
}

.page-2 {
  background-color: rgb(250, 221, 235);
}

/* .page-3 {
  background-color: yellow;
} */

a {
  color: black;
}

form input,
form button {
  display: block;
  margin: 10px auto;
}

input[type="text"] {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
}

.button-one {
  text-decoration: none;
  background-color: black;
  color:  white;
  padding: 23px;
  border-top: 1px solid #CCCCCC;
  border-radius: 50%;
  margin-top: 70px;
}

a:hover {
  color: pink;
}
.animate__animated.animate__flash {
  --animate-duration: 2s;
}

.button {
  text-decoration: none;
  background-color:  black;
  color: white;
  padding: 23px;
  border-top: 1px solid white;
  border-radius: 50%;
  margin-top: 20px;
}

button {
  padding: 20px;
  border-radius: 50%;
  text-decoration: none;
  background-color: black;
  border: none;
  font-family: 'Abril Fatface', cursive;
  color: white;
  margin-top: 30px;
}

.edit-link {
  padding: 20px;
  border-radius: 50%;
  text-decoration: none;
  background-color: black;
  border: none;
  font-family: 'Abril Fatface', cursive;
  color: white;
  margin-right: 10px;
}

.task-container {
  padding-bottom: 50px;
  padding: 100px;
  border-radius: 10%;
}

.logo-container {
  text-align: center;
  padding: 50px;
  border-radius: 10%;
  margin-top: -50px;
  width: 300px;
}

.task-container-two {
  padding-bottom: 80px;
}

.new-container {
  padding: 50px;
  padding-top: 0px;
  border-radius: 10%;
  width: 300px;
  margin: 0 auto;
}


.white-bg {
  background-color: white;
}

.task-items-container {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 768px) {
  .logo-container {
    padding: 20px;
    margin: 0 auto;
  }

  .task-container {
    padding: 70px;
  }

  .new-container {
    padding-top: 0px;
    padding: 35px;
  }
}