body {
  padding: 50px;
  font-family: 'Abril Fatface', cursive;
  background-color: #eb8abb;
  color: rgba(251, 251, 154, 0.898);
  text-align: center;
}

#logo {
  font-size: 100px;
  /* margin: 0 auto; */
  margin-bottom: 70px;
  
}

.heading {
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
}

.heading-two {
  font-size: 80px;
  color:#e87eb3;
}

.heading-three {
  font-size: 80px;
}

.tasks-font {
  color:#e87eb3;
}

.page-2 {
  background-color: rgb(250, 221, 235);
}

/* .page-3 {
  background-color: yellow;
} */

a {
  color: white;
}


@media only screen and (max-width: 768px) {
  /* body {
    width: 390px;
  } */
  
}