<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

  <title> get it done girl</title>
</head>
<body>
  <p class="heading-three">edit task</p>
  <p><%= task.text %></p>
  <form id="edit-form" action="tasks/<%= task._id %>?_method=PUT" method="POST">
    <input type="text" name="text">
    <button type="submit">save</button>
  </form>
</body>