<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

  <title> get it done girl</title>
</head>
<body class="page-2">
  <div class="task-container white-bg">
    <p class="heading-two">tasks</p>
      <% tasks.forEach(function(task) { %>
          <a href="/tasks/<%= task._id %>"><%= task.text %></a>
          <div className="task-items-container">
          <a href="/tasks/<%= task._id %>/edit"class="edit-link" style="display: inline-block; ">edit</a>
          <form method="POST" action="/tasks/<%= task._id %>?_method=DELETE" style="display: inline-block;">
            <button type="submit">x</button>
          </form>
          </div>
      <% }) %>
  </div>
  <a href='tasks/new' class="button"> new </a> 
  <script src="colors.js"></script>
</body>
</html>
